.codeEditor{
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

.run{
    display: flex;
    justify-content: center;
}

.runbutton{
    width: 200px;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
}

h1{
    margin-left: 30px;
}

.outputText{
    margin-left: 30px;
}