@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css?family=Muli');
/* @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css'); */
@import url('https://unpkg.com/nes.css@2.3.0/css/nes.min.css');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-muli: "Muli" , serif;
  --textDur: 1050ms;
  --waveDur: 2100ms;
}

body {
  font-family: var(--font-roboto);
  background-color:  #121121;
  color: #fff;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content{
    position: relative;
    margin-top: 100px;
    margin-bottom: 80px;
}
.content h2 {
	color: #fff;
  font-family: var(--font-raleway);
	font-size: 6rem;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #89d1b7;
}

.content h2:nth-child(2) {
	color: #60c47e;
    /* background-color: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=000000); */
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.highlighter {
    position: absolute;
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=dae378);
    color: #dae378;
    margin-left: 30px;
    width: 30%;
    height: 12px;
}

.Tagline p{
    font-size: 1.2rem;
    letter-spacing: 0.9px;
    color: #fff;
    margin-bottom: 0;
}

.madebyLink{
    color: #60c47e;
}

.nes-balloon p{
    color: #121121;
    font-size: 1.5rem;
}

.playground{
    position: relative;
    margin-left: 50px;
    font-family: var(--font-muli);
}

.playButton, .downloadButton{
  margin: 1rem;
}

.documentText{
  margin-left: 30px;
}

/* .docs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.docsDiv{
  margin-left: 30px;
  margin-bottom: 8px;
  margin-right: 10px;
  max-width: 500px;
  min-width: 150px;
  background-color: #1e1e1e;
  background-color: #121121;
} */



.docs {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(
          auto-fit, minmax(325px, 1fr));
}

.docsDiv {
  padding: 2em;
  border-radius: .3em;
  box-shadow: 10px 10px 30px  rgba(37, 30, 57, 0.1);
  background-color: #121121;
}
.card-body p {
  margin-top: 0;
}
.card-header {
  font-weight: bold;
  position: relative;
  margin-left: 15px;
}
card-header:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  border-bottom: 1px solid black;
  top: 10px;
  left: -15px;
}


.card-text{
  font-size: 0.8rem;
}

.card-body span{
  background-color: #1e1e1e;
  font-size: 1rem;
}

.download{
  display: flex;
  justify-content: center;
}

.download p{
  font-size: 1rem;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media screen and (max-width: 390px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  .content h2{
    font-size: 4rem;
  }

  .Tagline p{
    font-size: 0.7rem;
  }

  .highlighter {
    width: 70%;
}

  .playButton, .downloadButton{
    margin: 0.8rem;
  }

  .docs{
    padding: 1em;
  }

  .docsDiv{
    padding: 1em;
  }

}

@media screen and (min-width:392px) and (max-width: 600px) {
  .app {
    padding: 4rem 1rem;
  }

  .content h2{
    font-size: 5rem;
  }

  .Tagline p{
    font-size: 0.8rem;
  }

  .highlighter {
    width: 70%;
}

  .docs{
    padding: 1em;
}

  .docsDiv{
    padding: 1em;
}

}

@media screen and (min-width:610px) and (max-width: 1080px) {
    .highlighter{
        width: 50%;
    }
}